<div *ngIf="hero">
	<h2>Detalles de {{ hero.name | uppercase }}</h2>
	<div><span>id: </span>{{ hero.id }}</div>
	<div>
		<label>name:
			<input type="text" [(ngModel)]="hero.name" placeholder="name">
		</label>
	</div>
	<button (click)="goBack()">Atras</button>
	<button (click)="save()">Guardar</button>
</div>